<form name="query-form" #queryForm="ngForm" (ngSubmit)="onSubmit(queryForm)">
  <div class="form-row">
    <div class="form-group col-4">
      <label for="inputVariable" class="">Variable</label>
      <select
        [(ngModel)]="readingType"
        #reading="ngModel"
        name="readingType"
        class="form-control select-css"
      >
        <option
          *ngFor="let category of categories"
          value="{{ category.value }}"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-4">
      <label for="firstDate" class="">Fecha inicial</label>
      <input
        type="date"
        [(ngModel)]="firstDate"
        name="firstDate"
        #firstdate="ngModel"
        class="form-control select-css"
        id="firstDate"
      />
    </div>
    <div class="form-group col-4">
      <label for="lastDate" class="">Fecha final</label>
      <input
        type="date"
        [(ngModel)]="lastDate"
        name="lastDate"
        #lastdate="ngModel"
        class="form-control select-css"
        id="lastDate"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary mr-1">Submit</button>
      <button type="reset" (click)="onReset()" class="btn btn-secondary">
        Reset &nbsp;
      </button>
    </div>
  </div>
</form>
