<div class="limiter animated fadeInRight">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <button
        class="btn btn-outline-primary col-12"
        [routerLink]="['/main']"
        routerLinkActive="router-link-active"
      >
        Ir al principal
      </button>
      <form
        (ngSubmit)="onSubmit()"
        class="login100-form validate-form flex-sb flex-w"
        [formGroup]="form"
      >
        <span class="login100-form-title p-b-51"> Crear nueva cuenta </span>

        <span
          *ngIf="
            form.get('email').invalid &&
            (form.get('email').dirty || form.get('email').touched)
          "
          class="text-danger animated fadeIn"
        >
          Introduzca un correo valido
        </span>
        <div class="wrap-input100 m-b-16">
          <input
            class="input100"
            type="email"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            matInput
            formControlName="email"
            required
            placeholder="Email"
          />
          <span class="focus-input100"></span>
        </div>

        <span
          *ngIf="
            form.get('firstName').invalid &&
            (form.get('firstName').dirty || form.get('firstName').touched)
          "
          class="text-danger animated fadeIn"
          >El nombre es obligatorio</span
        >
        <div class="wrap-input100 m-b-16">
          <input
            class="input100"
            type="text"
            matInput
            formControlName="firstName"
            minlength="1"
            required
            placeholder="Nombre"
          />
          <span class="focus-input100"></span>
        </div>

        <span
          *ngIf="
            form.get('lastName').invalid &&
            (form.get('lastName').dirty || form.get('lastName').touched)
          "
          class="text-danger animated fadeIn"
          >El apellido es obligatorio</span
        >
        <div class="wrap-input100 m-b-16">
          <input
            class="input100"
            type="text"
            matInput
            formControlName="lastName"
            minlength="1"
            required
            placeholder="Apellido"
          />
          <span class="focus-input100"></span>
        </div>

        <span
          *ngIf="
            form.get('institution').invalid &&
            (form.get('institution').dirty || form.get('institution').touched)
          "
          class="text-danger animated fadeIn"
          >La institución es obligatoria</span
        >
        <div class="wrap-input100 m-b-16">
          <input
            class="input100"
            type="text"
            matInput
            formControlName="institution"
            minlength="1"
            required
            placeholder="Institución"
          />
          <span class="focus-input100"></span>
        </div>
        <span
          *ngIf="
            form.get('password').invalid &&
            (form.get('password').dirty || form.get('password').touched)
          "
          class="text-danger animated fadeIn"
          >Al menos 8 letras</span
        >
        <div class="wrap-input100 m-b-16">
          <input
            class="input100"
            type="password"
            matInput
            formControlName="password"
            minlength="8"
            required
            placeholder="Password"
          />
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div>
            <a routerLink="/login" class="txt1">
              ¿Ya tienes cuenta? / Ingresar
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" type="submit">Crear cuenta</button>
        </div>
      </form>
    </div>
  </div>
</div>
