<section class="section section-dark">
  <h2>Equipo de trabajo</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
    doloremque. Aliquid eum explicabo, quibusdam sed ducimus doloribus, optio
    exercitationem repellat odit minus animi debitis tempore doloremque aperiam
    perferendis. Est ea ab dolores officiis ipsa rem illo, unde sapiente maxime
    ad natus eius culpa, cumque velit assumenda temporibus inventore! A non
    repellat totam? Aperiam in nobis aliquid omnis ratione ad beatae consequatur
    delectus dolore. Excepturi rem, ipsum facere ratione, molestiae deleniti
    sint impedit quasi dolorum nesciunt commodi eligendi expedita voluptates.
    Molestiae odio recusandae, in et id error unde deleniti ipsum harum
    cupiditate?
  </p>
</section>

<section class="bimg2 text-center pt-5" id="equipo">
  <div class="container p-4">
    <h1 class="text-black">SpaceThonHN equipo rojo</h1>
    <p style="color: black">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima,
      explicabo.
    </p>
    <div class="row">
      <div
        *ngFor="let persona of estudiantes"
        class="col-lg-3 teams"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <div
          class="card text-dark mb-5"
          style="background: rgba(64, 115, 158, 0.35)"
        >
          <div class="card-body">
            <div class="circle img-fluid">
              <img
                src="../../../../assets/{{ persona.img }}"
                alt="Person One"
                style="width: 190px; height: 220px"
              />
            </div>
            <h3 class="mt-3">{{ persona.name }}</h3>
            <p>{{ persona.descrip }}</p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="{{ persona.facebook }}" target="blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="{{ persona.instagram }}" target="blank">
                  <i class="fab fa-instagram-square"></i>
                </a>
              </div>
              <div class="p-4">
                <a href="{{ persona.twitter }}" target="blank">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-dark">
  <h2>Equipo de trabajo</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
    doloremque. Aliquid eum explicabo, quibusdam sed ducimus doloribus, optio
    exercitationem repellat odit minus animi debitis tempore doloremque aperiam
    perferendis. Est ea ab dolores officiis ipsa rem illo, unde sapiente maxime
    ad natus eius culpa, cumque velit assumenda temporibus inventore! A non
    repellat totam? Aperiam in nobis aliquid omnis ratione ad beatae consequatur
    delectus dolore. Excepturi rem, ipsum facere ratione, molestiae deleniti
    sint impedit quasi dolorum nesciunt commodi eligendi expedita voluptates.
    Molestiae odio recusandae, in et id error unde deleniti ipsum harum
    cupiditate?
  </p>
</section>
