<section class="bimg1" id="inicio">
  <div class="container">
    <div class="row mt-5">
      <div
        class="col-md-5 my-auto"
        style="color: white"
        data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <div class="info-right header-content-right">
          <h1 class="display-2">Proyecto Morazán</h1>
          <p style="text-align: justify">
            CENTROAMÉRICA, GUATEMALA, COSTA RICA Y HONDURAS POR UN NUEVO HITO.
            <br />
            <br />
            ALCANZAR JUNTOS EL ESPACIO ES UN SUEÑO PARA TODOS.
          </p>
        </div>
      </div>
      <div
        class="col-md-6"
        data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1000"
      >
        <div class="info-left header-content-left">
          <img
            style="width: 720px"
            src="../../../../assets/satelite.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
