<section class="bimg3" id="contactanos">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 contact-content-left" style="color: white;"data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1000">
                <div class="info-right text-dark" style="text-align: justify;"> 
                    <p class="m-0" style="color: black;">LA CONEXION ES TODO</p>
                    <h2 class="display-3 m-0">Contactese </h2>
                    <h2 class="display-3 m-0">con nosotros</h2>
                    <p class="m-0" style="color: black;">Contactenos para mas informacion detallada sobre nuestro trabajo.</p>
                    <a class="btn btn-outline-primary btn-lg">Read More</a>
                </div>
            </div>
            <div class="col-md-7 contact-content-right" data-aos="fade-left"
            data-aos-easing="linear"
            data-aos-duration="1000">
                <form action="">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <i class="fas fa-user input-group-text"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre de usuario">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <i class="fas fa-envelope input-group-text"></i>
                        </div>
                        <input type="email" class="form-control" placeholder="Correo electronico">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <i class="fas fa-pencil-alt input-group-text"></i>
                        </div>
                        <textarea name="" cols="30" rows="10" placeholder="Message" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Send</button>  
                </form>
            </div>
        </div>
    </div>
</section>
